<div class="offer-services">
  <mat-icon
    _ngcontent-ng-c170551434=""
    role="img"
    class="mat-icon notranslate sidenav-link-icon material-icons mat-ligature-font mat-icon-no-color d-inline"
    aria-hidden="true"
    data-mat-icon-type="font"
    >handshake</mat-icon
  >
  <h1 class="mb-4">Serviços</h1>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"
      ><mat-icon
        class="mat-icon notranslate sidenav-link-icon material-icons mat-ligature-font mat-icon-no-color"
        aria-hidden="true"
        data-mat-icon-type="font"
        >search</mat-icon
      >
    </span>
    <input
      type="text"
      class="form-control"
      placeholder="Pesquisar profissional"
      aria-label="Pesquisar"
    />
  </div>
  <div class="os-cards">
    <div class="card">
      <div class="card-body">
        <div class="os-card-header">
          <div class="os-card-img">
            <img
              src="../../assets/img/user-female.png"
              class="img-thumbnail"
              alt=""
            />
          </div>
          <div class="os-card-title">
            <h3 class="card-title">Ana Silva</h3>
            <p class="card-text">Professora de Inglês</p>
          </div>
        </div>
        <div class="os-card-description">
          <p class="card-text">
            Olá, meu nome é Ana e ofereço serviços de faxina para outras
            mulheres. Garanto um serviço de qualidade e confiança.
          </p>
        </div>
        <div class="os-card-btn">
          <a href="#" class="btn">Ver perfil</a>
          <a href="#" class="btn">Contratar</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="os-card-header">
          <div class="os-card-img">
            <img
              src="../../assets/img/user-female.png"
              class="img-thumbnail"
              alt=""
            />
          </div>
          <div class="os-card-title">
            <h3 class="card-title">Maria Oliveira</h3>
            <p class="card-text">Babá</p>
          </div>
        </div>
        <div class="os-card-description">
          <p class="card-text">
            Sou Maria e ofereço serviços de babá para cuidar dos seus filhos com
            carinho e responsabilidade.
          </p>
        </div>
        <div class="os-card-btn">
          <a href="#" class="btn">Ver perfil</a>
          <a href="#" class="btn">Contratar</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="os-card-header">
          <div class="os-card-img">
            <img
              src="../../assets/img/user-female.png"
              class="img-thumbnail"
              alt=""
            />
          </div>
          <div class="os-card-title">
            <h3 class="card-title">Juliana Santos</h3>
            <p class="card-text">Cuidadora de Idosos</p>
          </div>
        </div>
        <div class="os-card-description">
          <p class="card-text">
            Me chamo Juliana e sou cuidadora de idosos. Estou aqui para oferecer
            um cuidado especial para seus entes queridos.
          </p>
        </div>
        <div class="os-card-btn">
          <a href="#" class="btn">Ver perfil</a>
          <a href="#" class="btn">Contratar</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="os-card-header">
          <div class="os-card-img">
            <img
              src="../../assets/img/user-female.png"
              class="img-thumbnail"
              alt=""
            />
          </div>
          <div class="os-card-title">
            <h3 class="card-title">Fernanda Lima</h3>
            <p class="card-text">Professora de Inglês</p>
          </div>
        </div>
        <div class="os-card-description">
          <p class="card-text">
            Meu nome é Fernanda, sou professora de inglês e ofereço aulas
            particulares para mulheres que querem aprender ou aperfeiçoar o
            idioma.
          </p>
        </div>
        <div class="os-card-btn">
          <a href="#" class="btn">Ver perfil</a>
          <a href="#" class="btn">Contratar</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="os-card-header">
          <div class="os-card-img">
            <img
              src="../../assets/img/user-female.png"
              class="img-thumbnail"
              alt=""
            />
          </div>
          <div class="os-card-title">
            <h3 class="card-title">Patrícia Souza</h3>
            <p class="card-text">Psicóloga</p>
          </div>
        </div>
        <div class="os-card-description">
          <p class="card-text">
            Sou Patrícia, psicóloga, e ofereço sessões de terapia para mulheres
            que buscam autoconhecimento e equilíbrio emocional.
          </p>
        </div>
        <div class="os-card-btn">
          <a href="#" class="btn">Ver perfil</a>
          <a href="#" class="btn">Contratar</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="os-card-header">
          <div class="os-card-img">
            <img
              src="../../assets/img/user-female.png"
              class="img-thumbnail"
              alt=""
            />
          </div>
          <div class="os-card-title">
            <h3 class="card-title">Camila Alves</h3>
            <p class="card-text">Mentora de Carreira</p>
          </div>
        </div>
        <div class="os-card-description">
          <p class="card-text">
            Meu nome é Camila, sou mentora de carreira e ajudo mulheres a
            alcançarem seus objetivos profissionais.
          </p>
        </div>
        <div class="os-card-btn">
          <a href="#" class="btn">Ver perfil</a>
          <a href="#" class="btn">Contratar</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="os-card-header">
          <div class="os-card-img">
            <img
              src="../../assets/img/user-female.png"
              class="img-thumbnail"
              alt=""
            />
          </div>
          <div class="os-card-title">
            <h3 class="card-title">Renata Costa</h3>
            <p class="card-text">Faxineira</p>
          </div>
        </div>
        <div class="os-card-description">
          <p class="card-text">
            Olá, meu nome é Renata e ofereço serviços de faxina para outras
            mulheres. Garanto um serviço de qualidade e confiança.
          </p>
        </div>
        <div class="os-card-btn">
          <a href="#" class="btn">Ver perfil</a>
          <a href="#" class="btn">Contratar</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="os-card-header">
          <div class="os-card-img">
            <img
              src="../../assets/img/user-female.png"
              class="img-thumbnail"
              alt=""
            />
          </div>
          <div class="os-card-title">
            <h3 class="card-title">Viviane Pereira</h3>
            <p class="card-text">Babá</p>
          </div>
        </div>
        <div class="os-card-description">
          <p class="card-text">
            Sou Viviane e ofereço serviços de babá para cuidar dos seus filhos
            com carinho e responsabilidade.
          </p>
        </div>
        <div class="os-card-btn">
          <a href="#" class="btn">Ver perfil</a>
          <a href="#" class="btn">Contratar</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="os-card-header">
          <div class="os-card-img">
            <img
              src="../../assets/img/user-female.png"
              class="img-thumbnail"
              alt=""
            />
          </div>
          <div class="os-card-title">
            <h3 class="card-title">Carla Mendes</h3>
            <p class="card-text">Cuidadora de Idosos</p>
          </div>
        </div>
        <div class="os-card-description">
          <p class="card-text">
            Me chamo Carla e sou cuidadora de idosos. Estou aqui para oferecer
            um cuidado especial para seus entes queridos.
          </p>
        </div>
        <div class="os-card-btn">
          <a href="#" class="btn">Ver perfil</a>
          <a href="#" class="btn">Contratar</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="os-card-header">
          <div class="os-card-img">
            <img
              src="../../assets/img/user-female.png"
              class="img-thumbnail"
              alt=""
            />
          </div>
          <div class="os-card-title">
            <h3 class="card-title">Luciana Rocha</h3>
            <p class="card-text">Professora de Inglês</p>
          </div>
        </div>
        <div class="os-card-description">
          <p class="card-text">
            Meu nome é Luciana, sou professora de inglês e ofereço aulas
            particulares para mulheres que querem aprender ou aperfeiçoar o
            idioma.
          </p>
        </div>
        <div class="os-card-btn">
          <a href="#" class="btn">Ver perfil</a>
          <a href="#" class="btn">Contratar</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="os-card-header">
          <div class="os-card-img">
            <img
              src="../../assets/img/user-female.png"
              class="img-thumbnail"
              alt=""
            />
          </div>
          <div class="os-card-title">
            <h3 class="card-title">Raquel Nunes</h3>
            <p class="card-text">Psicóloga</p>
          </div>
        </div>
        <div class="os-card-description">
          <p class="card-text">
            Sou Raquel, psicóloga, e ofereço sessões de terapia para mulheres
            que buscam autoconhecimento e equilíbrio emocional.
          </p>
        </div>
        <div class="os-card-btn">
          <a href="#" class="btn">Ver perfil</a>
          <a href="#" class="btn">Contratar</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="os-card-header">
          <div class="os-card-img">
            <img
              src="../../assets/img/user-female.png"
              class="img-thumbnail"
              alt=""
            />
          </div>
          <div class="os-card-title">
            <h3 class="card-title">Beatriz Martins</h3>
            <p class="card-text">Mentora de Carreira</p>
          </div>
        </div>
        <div class="os-card-description">
          <p class="card-text">
            Meu nome é Beatriz, sou mentora de carreira e ajudo mulheres a
            alcançarem seus objetivos profissionais.
          </p>
        </div>
        <div class="os-card-btn">
          <a href="#" class="btn">Ver perfil</a>
          <a href="#" class="btn">Contratar</a>
        </div>
      </div>
    </div>
  </div>
  <div class="os-pagination">
    <nav aria-label="Paginação">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link disabled" href="#">Anterior</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item">
          <a class="page-link disabled" href="#">Próxima</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
