<div id="sobreProjeto">
    <h1>Sobre o projeto</h1>
    <h2>O TecHer é para mulheres que desejam crescer profissionalmente e alcançar seus objetivos, mas enfrentam os desafios da dupla jornada.</h2>
    <p>Somos uma plataforma que visa apoiar mulheres em suas jornadas profissionais e pessoais, oferecendo em um único lugar serviços de uma rede de apoio que vão ajudá-la a superar os desafios da dupla jornada.</p>
</div>

<h1 style="margin: 0 5%;">Nossa equipe</h1>
<div class="sobreEquipe">

    <div class="row" style="justify-content: space-around;">

        <div class="column">
            <div class="card">
            <div class="fit-cover">
                <img src="../../assets/img/fotoMarcela.jpeg" style="width:100%">
            </div>
                <div class="container">
                    <h2>Marcela Policiano</h2>
                    
                    <a href="https://www.linkedin.com/in/marcela-policiano-66b9b626/">
                        <img src="../../assets/img/linkedinicon.png">
                    </a>
                    <!--
                    <a href="https://github.com/">
                        <img src="../../assets/img/githubicon.png">
                    </a>
                    -->
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="fit-cover">
                    <img src="../../assets/img/fotoFernanda.jpeg" style="width:100%">
                </div>                
                <div class="container">
                    <h2>Fernanda Viotto</h2>
                    <a href="https://www.linkedin.com/in/fernanda-viotto-de-gobbi/">
                        <img src="../../assets/img/linkedinicon.png">
                    </a>
                    <a href="https://github.com/ferviotto">
                        <img src="../../assets/img/githubicon.png">
                    </a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="fit-cover">
                    <img src="../../assets/img/fotoRoberta.jpeg" style="width:100%">
                </div>                
                <div class="container">
                    <h2>Roberta de Siqueira</h2>
                    <a href="https://www.linkedin.com/in/robertadesiqueira/">
                        <img src="../../assets/img/linkedinicon.png">
                    </a>
                    <a href="https://github.com/devroberta">
                        <img src="../../assets/img/githubicon.png">
                    </a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="fit-cover">
                    <img src="../../assets/img/fotoClarisse.jpeg" style="width:100%">
                </div>
                <div class="container">
                    <h2>Clarisse Ribeiro</h2>
                    <a href="https://linkedin.com/in/clarisseribeiro">
                        <img src="../../assets/img/linkedinicon.png">
                    </a>
                    <a href="https://github.com/clar5z">
                        <img src="../../assets/img/githubicon.png">
                    </a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="fit-cover">
                    <img src="../../assets/img/fotoJuliana.jpg" style="width:100%">
                </div>
                <div class="container">
                    <h2>Juliana Rodrigues</h2>
                    <a href="https://www.linkedin.com/in/juliana-rodrigues-de-araujo-098360174/">
                        <img src="../../assets/img/linkedinicon.png">
                    </a>
                    <a href="https://github.com/Jurodart">
                        <img src="../../assets/img/githubicon.png">
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>