<div id="banner">
    <img src="../../assets/img/Teste imagem de banner.png" alt="">
</div>

<div id="dados" class="justificadoCentralizado">
    <h1>O mercado de trabalho feminino: um cenário promissor</h1>

    <div id="flexRow">
        <div class="separaTexto">
            <img src="../../assets/img/target.png" class="icone">
            <h1>Propósito</h1>
            <p>Empoderar mulheres descobrindo e fortalecendo seus potenciais para a sua independência financeira.</p>
        </div>
    
        <div class="separaTexto">
            <img src="../../assets/img/mountain.png" class="icone">
            <h1>Missão</h1>
            <p>Transformar a vida de mulheres através da capacitação, desenvolvimento e encaminhamento para o mercado de trabalho.</p>
        </div>
    
        <div class="separaTexto">
            <img src="../../assets/img/rocket.png" class="icone">
            <h1>Visão</h1>
            <p>Ser uma empresa referência, em nível estadual, no aumento da representatividade feminina no mercado de trabalho até 2023.</p>
        </div>
        
        <div class="separaTexto">
            <img src="../../assets/img/handshake.png" class="icone">
            <h1>Valores</h1>
            <p>Equidade<br>
                Qualidade<br>
                Companheirismo<br>
                Segurança<br>
                Comodidade<br>
                Responsabilidade<br>
                Inovação<br>
                Sustentabilidade</p>
        </div>
    </div>

    <h1>Serviços da rede de apoio: um ecosistema completo</h1>
    <p>A rede de apoio do TecHer oferece uma variedade de serviços que atendem às necessidades das mulheres, desde mentoria profissional até o cuidado com crianças e idosos.</p>

</div>