

<div class="card">
    <div class="card-body">
        <div class="title">
            <mat-icon class="title-icon">person_3</mat-icon>
            <span class="title-text">cadastro</span>
        </div>
        <hr>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="container mt-4">
            <div class="mb-3">
            <label for="nome" class="form-label">Nome:</label>
            <input id="nome" formControlName="nome" class="form-control">
            </div>
        
            <div class="mb-3">
            <label for="profissao" class="form-label">Profissão:</label>
            <input id="profissao" formControlName="profissao" class="form-control">
            </div>
        
            <div class="mb-3">
            <label for="descricao" class="form-label">Descrição:</label>
            <input id="descricao" formControlName="descricao" class="form-control">
            </div>

            <div class="mb-3">
                <label for="endereco" class="form-label">Endereço:</label>
                <input id="endereco" formControlName="endereco" class="form-control">
            </div>

            <div class="mb-3">
                <label for="bairro" class="form-label">Bairro:</label>
                <input id="bairro" formControlName="bairro" class="form-control">
            </div>
        
            <div class="row mb-3">
                <div class="col-md-10">
                <label for="cidade" class="form-label">Cidade:</label>
                <input id="cidade" formControlName="cidade" class="form-control">
                </div>
                <div class="col-md-2">
                <label for="uf" class="form-label">UF:</label>
                <select id="uf" formControlName="uf" class="form-select">
                    <option value="">Selecione uma UF</option>
                    <option *ngFor="let uf of ufs" [value]="uf">{{ uf }}</option>
                </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-2">
                  <label for="prestadora" class="form-label">Prestadora de Serviços:</label>
                  <select id="prestadora" formControlName="prestadora" class="form-select" (change)="onPrestadoraChange($event)">
                    <option value="sim">Sim</option>
                    <option value="nao">Não</option>
                  </select>
                </div>
              </div>
        
              <div *ngIf="isPrestadoraSim">
                <div class="row mb-3" formArrayName="servicos">
                  <div class="col-md-6" *ngFor="let servico of servicos.controls; let i = index">
                    <div class="input-group mb-2">
                      <input [formControlName]="i" class="form-control" placeholder="Serviço {{ i + 1 }}">
                      <button type="button" class="btn form-btn-delete" (click)="removeServico(i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-2">
                    <button type="button" class="btn form-btn-add" (click)="addServico()">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
        
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary custom-pink-btn d-flex align-items-center">
                    <mat-icon>send</mat-icon>
                    <span>Enviar Cadastro</span>
                </button>
            </div>
        </form>
    </div>
</div>